<section class="card">
  <div class="card-body">
    <h1>Acerca de</h1>
    <br>
    <br>
    <p>
     SellerTaT es una distribuidora de productos desechables y productos congelados, nos dedicamos a realizar ventas de tienda a tienda, se gestiona el inventario del distribuidor y manejamos pedidos online, con una base de datos de mercancías que estamos actualizando constantemente con distintos productos, proporcionamos una información verídica a nuestros clientes con el fin de que los mismos se sientan cómodos a la hora de comprar nuestro productos, con el objetivo de expandirnos por su calidad, respaldo y responsabilidad, con procesos efectivos y productos innovadores, confiables y de precios justos a través de una excelente atención a nuestros clientes y con un equipo de trabajo calificado y comprometido. 
    </p>
    <figure>
      <img src="" alt="">
    </figure>
  </div>
</section>
