<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Sellertat</h1>
  <p class="lead">Un software simple que permite automatizar la gestion de ventas de una distribuidora de productos desechables y refrigerados. (TAT).</p>
  <hr class="my-4" />
  <p>Apenas estes de alta como vendedor activo puede generar el registro aca abajo.
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrarse</a>
  </div>
</div>